<div class="row">
    <div class="table-responsive col-md-6 offset-1">
        <table class="table text-center text-no-wrap">
            <thead>
                <tr>
                    <th class="border-0" scope="col">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0" scope="col">
                        <div class="p-2 text-uppercase">Price</div>
                    </th>
                    <th class="border-0" scope="col">
                        <div class="p-2 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0" scope="col">
                        <div class="p-2 text-uppercase">Total</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItems">
                    <td class="row">
                        <div class="p-2">
                            <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid"
                                style="max-height: 50px;">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item}}" class="text-dark">
                                        {{item.productName}}
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle">
                        <strong>{{item.price | currency: 'EUR': 'symbol'}}</strong>
                    </td>
                    <td class="align-middle">
                        <div>
                            <span class="font-wight-bold" style="font-size: 1.2em;">{{item.quantity}}</span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <strong>{{item.price * item.quantity | currency: 'EUR' : 'symbol'}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="px-4 text-uppercase text-center font-weight-bold" style="background-color: #79b9e7;padding: 1.2em;">
            Order Summary
        </div>
        <div class="p-4" *ngIf="order">
            <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Order Subtotal</strong>
                    <strong class="text-muted">{{order.subTotal | currency: 'EUR' : 'symbol'}}</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Shipping and handling</strong>
                    <strong class="text-muted">{{order.shippingPrice | currency: 'EUR' : 'symbol'}}</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Total</strong>
                    <strong class="text-muted">{{order.total | currency: 'EUR' : 'symbol'}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>