.addRemove {
    cursor: pointer;
    font-size: 1.5em;
    color: #ffc120;
    margin-left: 20px;
    margin-right: 20px;
}

thead>tr>th {
    background-color: #79b9e7 !important;
}

.btn-outline-secondary {
    background-color: #e7f0f7;
    border-color: #79b9e7;

    &:hover {
        background-color: #79b9e7;
    }
}